.jumbotron
    .container
        .row
            .col-md-7
                h1 Bienvenido al panel del administrador
                p
                    | si el servidor corre lento debera matar algunos procesos
                p
                    a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
            .col-md-5
                img(src='images/paneladmin.jpg')